@charset "utf-8";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    padding: 1.5rem;
    background-color: lightgray;
}

body {
    background-color: #FFF;
    padding: 1rem;
}

img {
    width: 100%;
}

h1 {
    color: maroon;
}

figure {
    margin: 0;
}

figcaption {
    color: gray;
    padding: 1rem;
    border-top: solid black 0.1rem;
    border-bottom: solid black 0.1rem;
    
}